@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: DecoturaICG;
  src: url("../fonts/Decotura ICG Regular.ttf");
}

/* Global styles */
.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: uppercase;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/*------------------------------------------------------------------------*/
/* 
/*------------------------------------------------------------------------*/

.megs {
  font-family: "DecoturaICG", sans-serif;
  background-image: none;
  letter-spacing: 0.05em;
}

.megs .window-header {
  background-color: #1f5079;
  font-size: 20px;
}

.megs.window-app .window-content {
  background-color: #fff;
  background-image: none;
}

.megs input[type="text"] { 
  background-color: #ddebf6;
  border: 1px solid #1f5079; 
}

.megs label {
  color: #1f5079;
}

.megs select {
  font-size: 22px;
  color: #1f5079;
}

.megs .message-panel {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  color: #1f5079;  
  padding: 10px 5px 0 5px;
}

.megs .editor-edit {
  display: inline-block;
}

.megs .editor-content {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  color: #1f5079;  
  padding: 10px 5px 0 5px;
}

.megs div.biography label.biography-label {
  font-size: 22px;
}

.megs div.biography div.editor {
  padding-top: 2px;
  padding-bottom: 5px;
}

.megs div.biography div.editor-content {
  border: 1px solid #1f5079; 
  background-color: #ddebf6;
}

.megs .description-text {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  color: #1f5079;  
  padding: 10px 5px 0 5px;
}

.megs .tabs .item {
  color: #1f5079;
}

.megs .tabs .item.active {
  text-shadow: 0 0 10px #2c8dda;
}

.rollable:hover, .rollable:focus {
  color: #1f5079;
  cursor: pointer;
  text-shadow:0 0 3px #d63a28, 0 0 5px #d63a28, 0 0 7px #d63a28;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to megs sheets */
.megs input[type="checkbox"] + label  {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
}

.megs input[type="checkbox"] {
  vertical-align: middle;
}

.megs .item-form {
  color: #1f5079;
}
.megs .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;  
}
.megs .sheet-header .profile-img {
  flex: 0 0 120px;
  height: 120px;
  margin-right: 10px;
}
.megs .sheet-header .profile-img:hover {
  opacity: 0.5;
}

.megs .sheet-header .header-fields {
  flex: 1;
}
.megs .sheet-header h1.charname {
  display: flex;
  font-size: 32px;
  padding: 0;
  border-bottom: 0;
}
.megs .sheet-header h1.charname.isLocked {
  background-color: #1f5079;
}
.megs .sheet-header h1.charname.isUnlocked {
  background-color: #fff;
}
.megs .sheet-header h1.charname input[name="name"], .megs .sheet-header h1.charname div[name="name"] {
  float: left;
  flex-grow: 1;
  height: 50px;
  margin: 5px 5px 0 0;
}
.megs .sheet-header h1.charname div[name="name"] {
  padding: 5px 0 0 3px;
  color: #fff;
}
.megs .sheet-header h1.charname button {
  background-size: cover;
  float: right;
  width: 50px;
  height: 50px;
  border: none;
  margin-top: 5px;
}
.megs .sheet-header h1.charname button.isLocked {
  background-image: url(/systems/megs/assets/images/icons/locked.png);
}
.megs .sheet-header h1.charname button.isUnlocked {
  background-image: url(/systems/megs/assets/images/icons/unlocked.png);
}

.megs header.sheet-header .attribute-container {
  display: inline-block;
  width: calc(100% - 40px);
  padding-right: 5px;
  padding-left: 5px;
}
.megs header.sheet-header button.reset {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
  background-image: url(/systems/megs/assets/images/icons/reset.png);
  background-size: 30px auto;
  background-color: #ffffff;
}

.megs .sheet-header .header-fields select {
  margin-top: 5px;
}

.megs .sheet-tabs {
  flex: 0;
}
.megs .sheet-tabs a.item {
  font-size: 24px;
  color: #1f5079;
}
.megs .sheet-tabs a.item:hover:not(.active) {
  text-shadow:0 0 3px #d63a28, 0 0 5px #d63a28, 0 0 7px #d63a28;
}
.megs .sheet-body,
.megs .sheet-body .tab,
.megs .sheet-body .tab .editor {
  height: 100%;
}
.megs .tox .tox-editor-container {
  background: #fff;
}
.megs .tox .tox-edit-area {
  padding: 0 8px;
}
.megs .resources .resource-label {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
}
.megs .resource .resource-select {
  width: 100%;
}

.megs .resource-content {
  padding-top: 4px;
}
.megs .resource-content input {
  font-size: 20px;
}

.megs .resource-content span {
  font-size: 22px;
  color: #1f5079;
}

.megs .sheet-header .attribute,
.megs .sheet-body .initiative-and-hp .initiative,
.megs .sheet-body .initiative-and-hp .hero-points,
.megs .gadget-properties .gadget-property,
.megs .attributes .attribute {
  border: 2px solid #1f5079;
  font-size: 22px;
}

.megs .resource div {
  font-size: 24px;
}

.megs .sheet-header .attribute label,
.megs .sheet-body .initiative-and-hp label,
.megs .sheet-body .gadget-properties label,
.megs .attributes .attribute label {
  font-size: 24px;
  display: block;
  background: #1f5079;
  text-align: center;
  color: #fff;
  padding-bottom: 2px;
}

.megs .sheet-header .attribute input,
.megs .sheet-body .initiative-and-hp input,
.megs .sheet-body .gadget-properties input,
.megs .attributes .attribute input {
  border: none;
  padding: 0;
}

.megs .sheet-header .attribute select,
.megs .sheet-body .gadget-properties select {
  width: 100%;
  text-align: center;  
}

.megs .sheet-body section.border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-border-light-primary);
}

.megs .sheet-body .attributeRow:hover {
  box-shadow:0 0 3px #d63a28, 0 0 5px #d63a28, 0 0 7px #d63a28;
}

.megs .attributes .attribute select {
  width: 100%;
  background-color: #ddebf6;
  border: 0;
}

/*------------------------------------------------------------------------*/
/* Items, gadgets, etc.
/*------------------------------------------------------------------------*/

.megs .items-header  {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
}
.megs .items-header > * {
  font-size: 20px;
  text-align: center;
}
.megs .items-header .item-name  {
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.megs .items-header .item-description {
  text-align: left;
}

.megs .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.megs .items-list .item-row {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #1f5079;
}
.megs .items-list > li.item-row:nth-of-type(odd) {
  background: #ddebf6;
}
.megs .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.megs .items-list .item-name {
  flex: 1;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  align-items: center;
  display: flex;
}

.megs .items-list .item-row .item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.megs .items-list .item-total-cost {
  text-align: center;
}

.megs .items-list .item-aps {
  display: flex;
  justify-content: center;
  flex: 0 0 100px;
}
.megs .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.megs .items-list .item-controls a {
  font-size: 20px;
  text-align: center;
  margin: 0 6px;
}
.megs .items-list .item-row .item-controls {
  margin-top: 5px;
}
.megs .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.megs .items-list .item:last-child {
  border-bottom: none;
}
.megs .items-list .item .item-name .item-image {
  flex: 0 0 24px;
  height: 24px;
  background-size: 30px;
  background-color: #ddebf6;
  border: none;
  margin: 3px 5px 4px 0;
}
.megs .items-list .items-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: #1f5079;
  border: 2px groove #eeede0;
  color: #fff;
}
.megs .items-list .items-header > * {
  font-size: 20px;
  text-align: center;
}
.megs .items-list .items-header .item-name {
  flex: 1;
  padding-left: 5px;
  text-align: left;
}

/* Active effects: TODO do we need? */
.megs .effects .item .effect-source,
.megs .effects .item .effect-duration,
.megs .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 20px;
}
.megs .effects .item .effect-controls {
  border: none;
}

/*------------------------------------------------------------------------*/
/* header row for traits */
/*------------------------------------------------------------------------*/

.megs .sheet-body .grid-2col-header {
  font-size: 22px;
  color: #1f5079;
}

.megs .sheet-body div.biography section.description-item {
  padding: 0 0 15px 0;
  font-size: 22px;
}

.megs .sheet-body div.biography section.description-item input {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

/*------------------------------------------------------------------------*/
/* Chat messages */
/*------------------------------------------------------------------------*/

li.chat-message .message-content{
  background: #fff;
}

li.chat-message .chat-value {
  border: 1px solid #1f5079;
}

li.chat-message .chat-value label {
  width: 100%;
  color: #fff;
  background-color: #1f5079;
  display: block;
  text-align: center;
  padding: 3px;
}

li.chat-message .chat-value div {
  color: #1f5079;
  padding: 3px;
}

li.chat-message .chat-result {
  border: 1px solid #1f5079;
  padding: 3px;
}

li.chat-message .chat-result.inverse {
  background-color: #ddebf6;
}

li.chat-message .chat-result.success {
  background-color: green;
  color: #fff;
  transition: 0.2s background linear;
}

li.chat-message .chat-result.success:hover {
  background-color: lightgreen;
}

li.chat-message .chat-result.failure {
  background-color: #d63a28;
  color: #fff;
  transition: 0.2s background linear;
}

li.chat-message .chat-result.failure:hover {
  background-color: rgb(252, 87, 69);
}

li.chat-message .chat-result .d10 {
  display: inline-block;
  background-image: url(/icons/svg/d10-grey.svg);
  min-width: 24px;
  line-height: 24px;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-weight: bold;
  text-align: center;
}

li.chat-message .megs-chat-title {
  padding: 5px 0 2px 2px;
  background-color: #1f5079;
  color: #fff;
  text-align: center;
}

li.chat-message .megs-chat-roll {
  margin: 0 3px 0 3px;
}

li.directory-item img[src*="assets/images/icons"] {
  filter: invert(100%);
}


/*------------------------------------------------------------------------*/
/*
/*------------------------------------------------------------------------*/

details summary.no-arrow {
  display: block;
  cursor: pointer;
}

.system-megs details summary.roll-dialog-summary {
  margin: 9px 0 3px 0;
  padding: 3px 0 3px 0;
  background: #a9a7a7;
}


.padding-bottom-10px {
  padding-bottom: 10px;
}

.sheet-header .header-fields .grid .d10 {
  display: inline-block;
  background-image: url(/systems/megs/assets/images/icons/2d10-blue.png);
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
  height: 55px;
  border-radius: 25px;
  border: solid #ccc 3px;
  box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
  transition: 0.2s background linear;
}

.sheet-header .header-fields .grid .d10.unskilled {
  background-image: url(/systems/megs/assets/images/icons/2d10-blue-2.png);
}

.sheet-header .header-fields .grid .d10:hover {
  background-image: url(/systems/megs/assets/images/icons/2d10-white.png);
  background-color: #1f5079;
  background-size: 50px 50px;
  transition: 0.2s background linear;
}

.sheet-header .header-fields .grid .d10.unskilled:hover {
  background-image: url(/systems/megs/assets/images/icons/2d10-white-2.png);
}

.svg-icon {
  height: 20px;
  width: 20px;
  border: none;
}

.quantity {
  display: flex;
  border: 2px solid #a9a7a7;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity button {
  background-color: #a9a7a7;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: auto;
  text-align: center;
  transition: background-color 0.2s;
  margin: 0;
  border-radius: 0;
  line-height: 0;
}

.quantity button:hover {
  text-shadow: none;
}

.quantity .input-box {
  text-align: center;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
}

/* Hide the number input spin buttons */
.quantity .input-box::-webkit-inner-spin-button,
.quantity .input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity.attribute-input {
  border: 0;
  text-align: center;
}

.quantity.attribute-input button {
  background-color: #ffffff;
  color: #1f5079;
}

.quantity.attribute-input input[type="number"],
.quantity.current-input  input[type="number"]{
  background-color: #ddebf6;
}

.quantity.current-input button {
  background-color: #1f5079;
  color: #fff;
  border-color: #1f5079;
}

.attribute-container {
  padding: 4px 15px 0 15px;
  box-shadow: none;
}


.megs details summary.item-summary {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 9px 0 3px 0;
  padding: 3px 0 3px 5px;
  background-color: #1f5079;
}

.megs details[open] summary.item-summary {
  background-color: #5fa2d9;
}

.megs .attributes .attribute select.numericSelected {
  width: 75%;
  float: left;
}

.megs .attributes .attribute input.numericSelected {
  width: 25%;
  float: left;
  font-size: 22px;
  text-align: center;
  color: #1f5079;
  background-color: #ddebf6;
  border: 2px solid #a9a7a7;
}

.megs div.tab.readableText label {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.megs .indentLeft {
  padding-left: 15px;
  padding-top: 5px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
}
