<div class="megs-dialog padding-bottom-10px">
  <form>
    <div class="form-group">
      <label>{{localize "MEGS.HPSpent"}} - {{localize "MEGS.Initiative"}}</label>
      <div class="flexrow">
        <input type="range" name="hpSpentInitiative" value="0" min="0" max="{{maxHpToSpend}}" step="1" oninput="hpSpentInitiativeValue.innerText = this.value">
        <span class="range-value" id="hpSpentInitiativeValue">0</span>
      </div>
    </div>
  </form>
</div>