      <label for="system.biography" class="resource-label flexlarge align-left biography-label" data-label="{{system.biography}}">{{localize 'Description'}}</label>
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
