<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  {{> "systems/megs/templates/actor/parts/actor-header.hbs"}}
 
  {{!-- Sheet Tab Navigation --}}
  {{> "systems/megs/templates/actor/parts/actor-navigation.hbs"}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Abilities Tab --}}
    <div class="tab abilities" data-group="primary" data-tab="abilities">

    {{> "systems/megs/templates/actor/parts/actor-init-hp.hbs"}}

    {{> "systems/megs/templates/actor/parts/actor-attributes.hbs"}}

    </div>
  </section>
</form>

