    <div class="tab abilities" data-group="primary" data-tab="abilities">

      <div>
        <input type="checkbox" id="omniClasses.a" name="omniClasses.a" value="true"
        {{#if (compare omniClasses.a "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="omniClasses.a"> A - Physical Attributes</label>
      </div>

      <div>
        <input type="checkbox" id="omniClasses.b" name="omniClasses.b" value="true"
        {{#if (compare omniClasses.b "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="omniClasses.b"> B - Mental Attributes</label>
      </div>

      <div>
        <input type="checkbox" id="omniClasses.c" name="omniClasses.c" value="true"
        {{#if (compare omniClasses.c "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="omniClasses.c"> C - Physical and Mental Powers</label>
      </div>

      <div>
        <input type="checkbox" id="omniClasses.d" name="omniClasses.d" value="true"
        {{#if (compare omniClasses.d "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="omniClasses.d"> D - Italicized Attributes (An Omni-Gadget allowing Italicized Attributes must also have the ability to mimic Attributes - A and/or B).</label>
      </div>


    </div>