      <h1 class="charname
        {{#if flags.megs.edit-mode}}isUnlocked{{else}}isLocked{{/if}}
      ">
        {{#if flags.megs.edit-mode}}
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        {{else}}
          <div name="name">{{item.name}}</div>
        {{/if}}
      </h1>
